<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <input type="checkbox" id="close">
        <label for="close" class="btn-show-nav">
            <i class="fas fa-bars"></i>
        </label>
         <nav>
            <a href="{{ url_for('dashboard') }}" class="nav-brand">Car Showroom Management System</a>
            <h2>Menu</h2>
            <ul>
                <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i>Dashboard</a></li>
                <li><a href="{{ url_for('vehicles') }}"><i class="fas fa-car"></i>Vehicles</a></li>
                <li><a href="{{ url_for('customers') }}"><i class="fas fa-users"></i>Customers</a></li>
                <li><a href="{{ url_for('sales') }}"><i class="fas fa-cart-shopping"></i>Sales</a></li>
                <li><a href="{{ url_for('reports') }}"><i class="fas fa-chart-column"></i>Reports</a></li>
            </ul>
        </nav>
        <div class="content">   
            <h1>Dashboard</h1>
            <p>Welcome back, admin! This is what is happening with your Car Showroom</p>

            <div class="dashboard-stats">
                <div class="stat-card blue">
                    <div class="stat-icon">
                        <i class="fa-solid fa-car"></i>
                    </div>

                    <div class="stat-content">
                        <h4>TOTAL VEHICLES</h4>
                        <h2>{{ total_vehicles }}</h2>


                    <a href="{{ url_for('vehicles') }}">
                        View all vehicles
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    </div>
                </div>
                <div class="stat-card green">
                    <div class="stat-icon">
                        <i class="fa-solid fa-users"></i>
                    </div>

                    <div class="stat-content">
                        <h4>TOTAL CUSTOMERS</h4>
                        <h2>{{ total_customers }}</h2>


                    <a href="{{ url_for('customers') }}">
                        View all customers
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    </div>
                </div>
                <div class="stat-card purple">
                    <div class="stat-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>

                    <div class="stat-content">
                        <h4>TOTAL SALES</h4>
                        <h2>{{ total_sales }}</h2>


                    <a href="{{ url_for('sales') }}">
                        View all sales
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    </div>
                </div>
                <div class="stat-card orange">
                    <div class="stat-icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>

                    <div class="stat-content">
                        <h4>TOTAL REVENUE</h4>
                        <h2>KSh {{ "{:,.0f}".format(total_revenue) }}</h2>


                    <a href="{{ url_for('reports') }}">
                        View reports
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    </div>
                </div>
            </div>

            <div class="recent-sales-card">

                <div class="view-card-header">
                    <h2>
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        Recent Sales
                    </h2>

                    <a href="{{ url_for('sales') }}" class="view-all-btn">
                        View All Sales
                    </a>
                </div>

                <table id="recent-sales-table">

                    <tr>
                        <th>Sale ID</th>
                        <th>Customer</th>
                        <th>Vehicle</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Payment</th>
                        <th>Status</th>
                    </tr>

                    {% for sale in recent_sales %}

                    <tr>

                        <td>{{ sale[0] }}</td>
                        <td>{{ sale [1] }} {{ sale[2] }}</td>
                        <td>{{ sale[3] }} {{ sale[4] }}</td>
                        <td>Ksh {{ "{:,.2f}".format(sale[5]) }}</td>
                        <td>{{ sale[6] }}</td>
                        <td>{{ sale[7] }}</td>
                        <td>
                            <span class="sale-status {{ sale[8]| lower}}">
                                {{ sale[8] }}
                            </span>
                        </td>
                    </tr>

                    {% endfor %}
                </table>
            </div>

            <div class="quick-actions">
                <h2>
                <i class="fa-solid fa-bolt"></i>
                Quick Actions</h2>

                <div class="actions">

                    <a href="{{url_for('vehicles')}}" class="action-card blue">
                        <div class="icon">
                            <i class="fa-solid fa-car"></i>
                        </div>

                        <div class="text">
                            <h3>Add New Vehicle</h3>
                            <p>Register a new vehicle in stock</p>
                        </div>

                        <i class="fa-solid fa-chevron-right arrow"></i>
                    </a>

                    <a href="{{url_for('customers')}}" class="action-card green">
                        <div class="icon">
                            <i class="fa-solid fa-users"></i>
                        </div>

                        <div class="text">
                            <h3>Add New Customer</h3>
                            <p>Register a new customer</p>
                        </div>

                        <i class="fa-solid fa-chevron-right arrow"></i>
                    </a>
                    
                    <a href="{{url_for('sales')}}" class="action-card purple">
                        <div class="icon">
                            <i class="fas fa-cart-shopping"></i>
                        </div>

                        <div class="text">
                            <h3>Record New Sale</h3>
                            <p>Record a vehicle sale</p>
                        </div>

                        <i class="fa-solid fa-chevron-right arrow"></i>
                    </a>                     
                
                    
                </div>    
            </div>
        </div>
    </body>
</html>