<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sales</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <input type="checkbox" id="close">
        <label for="close" class="btn-show-nav">
            <i class="fas fa-bars"></i>
        </label>
         <nav>
            <a href="{{ url_for('dashboard') }}" class="nav-brand">Car Showroom Management System</a>
            <h2>Menu</h2>
            <ul>
                <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i>Dashboard</a></li>
                <li><a href="{{ url_for('vehicles') }}"><i class="fas fa-car"></i>Vehicles</a></li>
                <li><a href="{{ url_for('customers') }}"><i class="fas fa-users"></i>Customers</a></li>
                <li><a href="{{ url_for('sales') }}"><i class="fas fa-cart-shopping"></i>Sales</a></li>
                <li><a href="{{ url_for('reports') }}"><i class="fas fa-chart-column"></i>Reports</a></li>
            </ul>

            <a href="{{ url_for('logout') }}" class="logout-btn">
                <i class="fas fa-right-from-bracket"></i>
                    Logout
            </a>

        </nav>
        <div class="content">   
            <h1>Sales</h1>
            <p>View details about your sales here.</p>


            <div class="sale-card">
                <div class="card-header">
                    <h2>
                        <span class="heading-icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </span>
                        Record New Sale
                    </h2>
                </div>

                <form action="{{ url_for('add_sale')}}" method="POST">

                    <div class="sale-form">

                        <div class="form-group">
                            <label>Customer</label>
                            <select name="customer_id" required>
                                {% for customer in customers %}
                                <option value="{{ customer[0]}}">
                                    {{ customer[2] }} {{ customer[3] }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Vehicle</label>
                            <select name="vehicle_id" required>
                                {% for vehicle in vehicles %}
                                <option value="{{ vehicle[0] }}">
                                    {{ vehicle[1] }} {{ vehicle[2] }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Sale Date</label>
                            <input type="date" name="sale_date" required>
                        </div>

                        <div class="form-group">
                            <label>Amount</label>
                            <input
                                type="number"
                                name="amount"
                                placeholder="Enter amount"
                                required>
                        </div>

                        <div class="form-group">
                            <label>Payment Method</label>

                            <select name="payment_method">

                                <option>Cash</option>
                                <option>Bank Transfer</option>
                                <option>Cheque</option>
                                <option>Financing</option>

                            </select>
                        </div>

                        <div class="form-group">

                            <label>Sale Status</label>

                            <select name="sale_status">

                                <option>Completed</option>
                                <option>Pending</option>
                                <option>Cancelled</option>

                            </select>

                        </div>
                    </div>

                    <div class="button-area">
                        <button type="submit">
                            Save Sale
                        </button>
                    </div>
                </form>
            </div>
            
            <div class="view-sale-card">
                <div class="view-card-header">
                    <h2>
                        <span class="heading-icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </span>
                        All Sales
                    </h2>

                    <form method="GET" action="{{ url_for('sales') }}">
                        <input
                            type="text"
                            name="search"
                            class="search-box"
                            placeholder="Search Sale..."
                            value="{{ search if search else '' }}">
                        
                        <button type="submit" class="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        
                    </form>
                </div>

                <table id="sales-table">
                    <tr>
                        <th>Actions</th>
                        <th>Sale ID</th>
                        <th>Customer</th>
                        <th>Vehicle</th>
                        <th>Amount</th>
                        <th>Payment</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>

                    {% for sale in sales %}

                    <tr>
                        <td>
                            <a href="{{ url_for('edit_sale', sale_id=sale[0]) }}" class="edit-btn">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            <a href="{{ url_for('delete_sale', sale_id=sale[0]) }}"
                                class="delete-btn"
                                onclick="return confirm('Delete this sale?')">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>

                        <td>{{ sale[0] }}</td>
                        <td>{{ sale[1] }} {{ sale[2] }}</td>
                        <td>{{ sale[3] }} {{ sale[4] }}</td>
                        <td>KSh {{ "{:,.2f}".format(sale[5]) }}</td>
                        <td>{{ sale[6] }}</td>

                        <td>
                            <span class="sale-status {{ sale[7]|lower }}">
                                {{ sale[7] }}
                            </span>
                        </td>
                        <td>{{ sale[8] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>