<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vehicles</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="sidebar">
            <h1>Car Showroom Management System</h1>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('vehicles') }}">Vehicles</a>
            <a href="{{ url_for('customers') }}">Customers</a>
            <a href="{{ url_for('sales') }}">Sales</a>
            <a href="{{ url_for('reports') }}">Reports</a>
        </div>
        
        <div class="content">   
            <h1>Vehicles</h1>
            <p>View details about your vehicles here.</p>
    
            <div class="vehicle-card">
                    <div class="card-header">
                        <h2>Add New Vehicle</h2>
                    </div>

                    <form action="{{ url_for('add_vehicle')}}" method="POST">
                        <div class="vehicle-form">
                            <div class="form-group">
                                <label>Vehicle Make</label>
                                <select name="make">
                                    <option>Toyota</option>
                                    <option>Honda</option>
                                    <option>Nissan</option>
                                    <option>Mazda</option>
                                    <option>BMW</option>
                                    <option>Mercedes-Benz</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Vehicle Model</label>
                                <input type="text" name="model" placeholder="Enter vehicle model">
                            </div>
                            
                            <div class="form-group">
                                <label>Vehicle Year</label>
                                <input type="number" name="year" placeholder="Enter year">
                            </div>
                            
                            <div class="form-group">
                                <label>Selling Price</label>
                                <input type="number" name="price" placeholder="Enter selling price">
                            </div>
                            
                            <div class="form-group">
                                <label>VIN Number</label>
                                <input type="text" name="vehicle_vin_number" placeholder="Enter VIN price">
                            </div>
                            
                            <div class="form-group">
                                <label>Purchase Date</label>
                                <input type="date" name="purchase_date">
                            </div> 

                            <div class="form-group">
                                <label>Vehicle Status</label>
                                <select name="vehicle_status">
                                    <option value="">Select Status</option>
                                    <option>Available</option>
                                    <option>Sold</option>
                                    <option>Awaiting Delivery</option>
                                </select>
                            </div>
                        </div>

                        <div class="button-area">
                            <button type="submit">Save Vehicle</button>
                        </div>
                    </form>
            </div>

            <div class="view-vehicle-card">
                <div class="view-card-header">
                    <h2>All Cars</h2>
                </div>
            </div>
            
            
        </div>
    </body>
</html>